<html>
	<head>
		<style type = "text/css">
			#mainBody {background-color: rgb(0, 154, 255);
				background-image:url("/static/portfolio/images/images(21).jpeg");}
			#parentBlock {
				background-color:rgb(220, 220, 220);
				width:500px;
				padding:10px;
				margin:0px auto 0px auto;
				border-radius:20px;}
			#mainBlock {
				background-color:rgb(0, 255, 154);
				width:400px;
				
				padding:10px 10px 10px 10px;
				margin:0px auto 0px auto;
				border-radius:20px;}
			h3 {
				color:rgb(47, 79, 79);}
		</style>
	
	<body id="mainBody">
		<div id="parentBlock">
		<div>
			<ul>
				<li><a href = "http://localhost:8080/">Home</a></li>
			</ul>
		</div>
		<div id="mainBlock">
			
			<h1>About</h1>
			<h3>-Objective</h3>
			<p>---I am Goodwill Sakhile Shabangu and am a dedicated and experienced full stack
    Software Developer with proven success working on complex software projects.
    Seeking an opportunity to use my software development experience for the success of the organization.</p>
			<h3>-Education</h3>
			<p>--Hight School:Buhlebemfundo secondary school(Matric 20011)</p>
			<p>--Hackerank (Python Certificate 2022) </p>
			<p>--Hackerank (Java Certificate 2022) </p>
			<h3>-Skills</h3>
			<p>--Python</p>
			<p>--Java</p>
			<p>--Golang</p>
			<p>--Javascript</p>
			<p>--Html/css</p>
			<p>--C/C++</p>
			<p>--Ruby on rails</p>	
			<h3>-Contacts</h3>
			<p>-     -Email: sakhilegoodwill4coding@gmail.com</p>
<p>-        -Cell No: 078 442 5987/076865290</p>
<p>-        -Address: 18988 Nhlangwini street ext8</p>
	  <p>Tsakane Brakpan 1550</p>
		</div>
		</div>
	</body>
</html>